.vertical-center {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.reveal .speaker-notes {
    font-size: 10px;  /* Passen Sie diese Größe nach Bedarf an */
    line-height: 1.3;
  }