.vertical-center {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.reveal .notes {
    font-size: 0.6em;  /* Passen Sie diese Größe nach Bedarf an */
    line-height: 1.3;
  }

.smaller-text {
    font-size: 0.6em;
  }